[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qiskit = "*"
qiskit-aer = "*"
bitstring = "*"
numpy = "*"
pillow = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.11"
